<div id="register-container">
    <form id="register-form" [formGroup]="profileGroup">
        <table class="register-full-width" cellspacing="0"><tr>
            <td>
                <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input matInput id="firstname" type="text" formControlName="firstname" name="firstname" placeholder="Firstname">
                    <mat-error *ngIf="profileGroup.controls['firstname'].invalid">Please enter your firstname</mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
                    <mat-label>Lastname</mat-label>
                    <input matInput type="text" value="user.lastname" formControlName="lastname" name="lastname" placeholder="Lastname">
                    <mat-error *ngIf="profileGroup.controls['lastname'].invalid">Please enter your lastname</mat-error>
                </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" name="email" placeholder="Ex: john@doe.com">
            <mat-error *ngIf="profileGroup.controls['email'].invalid">Please enter your email</mat-error>
        </mat-form-field>

        <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address" name="address" placeholder="Address">
            <mat-error *ngIf="profileGroup.controls['address'].invalid">Please enter your address</mat-error>
        </mat-form-field>

        <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" formControlName="phone" name="phone" placeholder="+381 60 12 34 567">
            <mat-error *ngIf="profileGroup.controls['phone'].invalid">Please enter your phone number</mat-error>
        </mat-form-field>

        <button mat-fab color="primary" id="user-details-fab" color="accent" [disabled]="profileGroup.invalid"(click)="performAction()">
            <mat-icon *ngIf="action === Action.Edit">edit</mat-icon>
            <mat-icon *ngIf="action === Action.Save">save</mat-icon>
        </button>
        <a mat-mini-fab id="password-change-fab" color="primary" routerLink="/user/password" [disabled]="profileGroup.invalid">
            <mat-icon>key</mat-icon>
        </a>
    </form>
</div>