.user-row {
    cursor: pointer;
}

.user-row:hover {
    background-color: whitesmoke;
}

#message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
  