<ng-container *ngIf="users.length == 0; then nousers; else someusers"></ng-container>
<ng-template #nousers>
    <div id="message-container">
        <h2 style="color: gray;">No users in database</h2>
    </div>
</ng-template>
<ng-template #someusers>
    <table mat-table [dataSource]="users" style="width:100%;">
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Firstname </th>
            <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Lastname </th>
            <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Is Active </th>
            <td mat-cell *matCellDef="let user">
                <mat-chip-list>
                    <mat-chip *ngIf="user.active" color="primary" selected>Active</mat-chip>
                    <mat-chip *ngIf="!user.active">Not Active</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let user">
                <mat-chip-list>
                    <mat-chip *ngIf="user.moderator" color="accent" selected>Moderator</mat-chip>
                    <mat-chip *ngIf="!user.moderator" color="primary" selected>User</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user" style="text-align: right;" (click)="$event.stopPropagation()">
                <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="user-row" *matRowDef="let row; columns: displayedColumns;" (click)="performRowAction(row.username)"></tr>
      </table>
</ng-template>
