#recommended-container {
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background-color: transparent;
}

.book-cover {
    background-size: cover;
    width: 200px;
    height: 300px;
    margin: 5px 5px 0px 5px;
    border-radius: 5px 5px 5px 5px;
}