<div id="login-container">
    <form id="login-form" [formGroup]="loginGroup" (ngSubmit)="performLogin()">
        <mat-form-field class="login-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput id="username" type="text" formControlName="username" name="username" placeholder="Username">
            <mat-error *ngIf="loginGroup.controls['username'].invalid">Please enter your username</mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" name="password" placeholder="Password">
            <mat-error *ngIf="loginGroup.controls['password'].invalid">Please enter your password</mat-error>
        </mat-form-field>

        <mat-error *ngIf="errorMessage">
            <h4>{{errorMessage}}</h4>
        </mat-error>

        <button mat-flat-button type="submit" color="primary" [disabled]="requestInProgress || loginGroup.invalid" class="login-full-width">Login</button>
    </form>
</div>