<mat-form-field class="example-form-field" style="width: 100%;" appearance="fill">
    <mat-label>Search...</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (input)="performSearch()">
</mat-form-field>
<ng-container *ngIf="books.length == 0; then nobooks; else somebooks"></ng-container>
<ng-template #nobooks>
    <div id="message-container">
        <h2 style="color: gray;">No books in database</h2>
    </div>
</ng-template>
<ng-template #somebooks>
    <div id="books-container" style="overflow-y: scroll;">
        <div *ngFor="let book of (searchText.length == 0 ? books : result)">
            <div style="position: relative;z-index: 1000;height: 340px;">
                <span class="book-counter-container">
                    <h1 class="book-counter">
                        {{book.count}}
                        <h2 class="book-counter-text">books</h2>
                    </h1>
                </span>
                <!-- <a *ngIf="book.count == 0" routerLink="/user/books/{{book.isbn}}">
                    <span class="book-cover-inactive-overlay"></span>
                </a> -->
                <button mat-flat-button color="primary" class="book-cover-button" (click)="takeBook(book.isbn)" [disabled]="book.count == 0">
                    Reserve
                </button>
                <a routerLink="/user/books/{{book.isbn}}">
                    <img mat-card-xl-image src="{{book.cover}}" [ngClass]="book.count == 0 ? 'book-cover-inactive' : 'book-cover-active'" class="book-cover">
                </a>
            </div>
        </div>
    </div>
</ng-template>
