<div id="register-container">
    <form id="register-form" [formGroup]="passwordGroup">
        <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="new_password" name="new_password">
            <mat-error *ngIf="passwordGroup.controls['new_password'].invalid">Please enter your new password</mat-error>
        </mat-form-field>

        <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>Old Password</mat-label>
            <input matInput type="password" formControlName="old_password" name="old_password">
            <mat-error *ngIf="passwordGroup.controls['old_password'].invalid">Please enter your old password</mat-error>
        </mat-form-field>

        <mat-form-field class="register-full-width" [hideRequiredMarker]="hideRequiredControl.value" appearance="outline">
            <mat-label>Repeat Old Password</mat-label>
            <input matInput type="password" formControlName="old_repeated" name="phone">
            <mat-error *ngIf="passwordGroup.controls['old_repeated'].invalid">Please enter your old password again</mat-error>
        </mat-form-field>

        <button mat-flat-button (click)="performPasswordChange()" color="primary" [disabled]="passwordGroup.invalid" class="register-full-width">Change Password</button>
    </form>
</div>