#books-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    overflow-y: hidden;
    height: 100%;
}

.book-card {
    min-height: 300px;
}

.book-card:hover {
    cursor: pointer;
}

.book-cover {
    padding: 5px 5px 0px 5px;
    background-size: cover;
    width: 200px;
    height: 300px;
    border-radius: 5px 5px 0px 0px;
}

.book-cover-button {
    position: absolute;
    width: 100%;
    bottom: -1px;
    border-radius: 0px 0px 5px 5px !important;
}

.book-cover-strip {
    display: inline-block;
    /* font-size: 2em; */
    position: absolute;
    top: 19px;
    right: 136px;
    width: 70px;
    line-height: 40px;
    color:whitesmoke;
    height: 40px;
    text-align: center;
    background-color: #c62828;
    z-index: 0;
    transform: rotate(-45deg);
}

.book-cover-strip::before {
    position:absolute; left:-39.5px; top:0px; content:'';
    border-bottom: 40px solid #c62828;
    border-left: 40px solid transparent;
}

.book-cover-strip::after {
    position:absolute;
    left: 69px; 
    top: 0px; content:'';
    border-left: 40px solid #c62828;
    border-top: 40px solid transparent;
}

.book-cover:hover {
    background-color: #3F51B5;
}

.book-cover-button {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px !important;
}

.book-cover-active {
    background-color: #3F51B5;
}

.book-cover-inactive {
    background-color: rgba(128,128,128, 1);
}

#books-container > * {
    align-self: center;
    margin: 5px;
}

#message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#books-fab {
    position: absolute;
    bottom: 100px;
    right: 50px;
}
  