<ng-container *ngIf="books?.length == 0; then nobooks; else somebooks"></ng-container>
<ng-template #nobooks>
    <div id="message-container">
        <h2 style="color: gray;">No books in database</h2>
    </div>
</ng-template>
<ng-template #somebooks>
    <div id="books-container" style="overflow-y: scroll;">
        <div *ngFor="let book of books">
            <div style="position: relative;z-index: 1000;height: 340px;">
                <h1 class="book-cover-strip left">
                    5 days
                </h1>
                <button mat-flat-button color="primary" class="book-cover-button" (click)="returnBook(book.reading[0].isbn)">
                    Return Book
                </button>
                <a routerLink="/user/books/{{book.isbn}}">
                    <img mat-card-xl-image src="{{book.reading[0].cover}}" class="book-cover book-cover-active">
                </a>
            </div>
        </div>
    </div>
</ng-template>
