#books-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.book-card {
    min-height: 300px;
}

.book-card:hover {
    cursor: pointer;
}

.book-cover {
    padding: 5px;;
    background-size: cover;
    width: 250px;
    height: 350px;
    /* height: 100%; */
    border-radius: 5px;
}

.book-cover:hover {
    background-color: #3F51B5;
}

#books-container > * {
    align-self: center;
    margin: 5px;
}

#message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
  