#books-container {
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.book-card {
    min-height: 300px;
}

.book-card:hover {
    filter: none !important;
    cursor: pointer;
    /* background-color: red; */
}

.book-cover {
    padding: 5px 5px 5px 5px;
    background-size: cover;
    width: 200px;
    height: 300px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

/* .book-cover-button {
    position: absolute;
    width: 100%;
    bottom: -1px;
    border-radius: 0px 0px 5px 5px !important;
} */

.book-cover-active {
    background-color: #3F51B5;
}

.book-cover-active::hover {
    /* background-color: ; */
}

.book-cover-inactive {
    background-color: rgba(128,128,128, 0.25);
    filter: grayscale();
}

.book-counter-container {
    position: absolute;
    display: inline-block;
    padding: 5px;
    text-align: center;
    margin: 0;
    bottom: 25px;
    text-align: center;
    background-color: transparent;
}

.book-counter {
    position: relative;
    padding: 0;
    margin: 0;
    text-anchor: middle;
    color: rgba(245,245,245, 0.7);
    text-align: center;
    line-height: 100%;
    font-weight: bolder;
    font-size: 6em;
    /* mix-blend-mode:exclusion; */
}

.book-counter-text {
    top: 12.5px;
    right: -25px;
    text-align: center;
    position: absolute;
    color: rgba(245,245,245, 0.7);
    writing-mode:vertical-rl;
}

.book-cover-inactive-overlay {
    position: absolute;
    width: 100%;
    height: 310px;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255, 0.8);
}

.book-cover:hover {
    background-color: #718be9;
}

#books-container > * {
    align-self: center;
    margin: 5px;
}

#message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
  